<div id="navbar-main">
      <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span style="background:url(assets/logothumb.png);"></span>
	          </button>
	          <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span style="background:url(assets/logothumb.png);">  </span></a>
	        </div>
	        <div class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav">
		            <li><a href="#home" class="smoothScroll">Home</a></li>
					<li> <a href="#about" class="smoothScroll"> About Us</a></li>
					<li> <a href="#services" class="smoothScroll"> Services</a></li>
					<li> <a href="#contact" class="smoothScroll"> Contact</a></li>
			 	</ul>
        	</div><!--/.nav-collapse -->
    	</div>
	</div>
</div>  
		<!-- ==== HEADERWRAP ==== -->
	    <div id="headerwrap" id="home" name="home" style="background-image: url(assets/chicago4.jpg);">
			<header class="clearfix">
	  		 		<img class="img-responsive logo" src="assets/official logo.png"/>
	  		 		<p>Unleash your money's potential</p>
	  		</header>	    
	    </div><!-- /headerwrap -->

		<!-- ==== GREYWRAP ==== -->
		<div id="greywrap">
			<div class="row">
				<div class="col-lg-3 callout">
					<span class="fa fa-money fa-5x" style="color:#A1CF64; "></span>
					<p>Know what your money might look like in the future </p>
				</div><!-- col-lg-4 -->
					
				<div class="col-lg-3 callout">
					<span class="fa fa-bar-chart-o fa-5x" style="color:#D95C5C"></span>
					<p>Learn about current market trends and market predictions </p>
				</div><!-- col-lg-4 -->	
				
				<div class="col-lg-3 callout">
					<span class="fa fa-building-o fa-5x" style="color:#00B5AD"></span>
					<p>Get information from elite and trusted financial institutions </p>
				</div>

				<div class="col-lg-3 callout">
					<span class="fa fa-sitemap fa-5x" style="color:#564F8A"></span>
					<p>Try out multiple scenarios with our easy to use analytics tools </p>
				</div><!-- col-lg-4 -->	
			</div><!-- row -->
		</div><!-- greywrap -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">WHO WE ARE</h1>
				<hr>
				
				<div class="col-lg-6">
					<p> Too many people don't know the power of their money. They don't realize what their money is capabale of. This creates a huge problem: people are unable to save for retirement. Having a comfortable retirement gets difficult because people don't know how to invest in the stock market. The stock market shouldn't be this enigmatic thing that stops you from investing your money in safe ways to prepare for your retirement. </p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>We believe that people should be able to take control of their financial future. They should be able to make wise investment decisions based on trusted data agreed upon by major corprations across the board. We do this by implementing a sophisticated algorithm that tries to predict how much money you will be able to save based on many factors.</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SERVICES ==== -->
		<div class="container" id="services" name="services">
			<br>
			<br>
			<div class="row">
				<h1 class="centered">WHY USE CASHALYST</h1>
				<hr>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<p>It pays well for you to be ready for your retirement or just have money saved up for later. Cashalyst can help you prepare. We empower you with our financial analytics and allow you to see what your money will look like in the future. We are the free service of choice for those who don't want to hire their own broker (which can be very expensive!). 
					</p>
					
					<p>Most people today invest their money into a savings account. This sounds great but over time, the inflation rate of the market will make the interest generated in a savings account practically interest free! They end up losing money over time! With Cashalyst, you can see which stocks are safe to invest in and see what your money will grow to in years to come. That way, you can rest assured you will be prepared for your retirement </p>
				</div><!-- col-lg -->
			</div><!-- row -->
		</div><!-- container -->
  		

		<!-- ==== TEAM MEMBERS ==== -->
	<!-- 	<div class="container" id="team" name="team">
		<br>
			<div class="row white centered">
				<h1 class="centered">MEET OUR AWESOME TEAM</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-3 centered">
					<img class="img img-circle" src="http://www.prepbootstrap.com/Content/images/shared/shield/team/team01.jpg" height="120px" width="120px" alt="">
					<br>
					<h4><b>Mike Arney</b></h4>
					<a href="#" class="icon icon-twitter"></a>
					<a href="#" class="icon icon-facebook"></a>
					<a href="#" class="icon icon-flickr"></a>
					<p>Mike combines an expert technical knowledge with a real eye for design. Working with clients from a wide range of industries, he fully understands client objectives when working on a project, large or small.</p>
				</div> -->
				<!-- col-lg-3 -->
				
				
				
			<!-- </div> --><!-- row -->
		<!-- </div> --><!-- container -->
		
		<!-- ==== SECTION DIVIDER3 -->
	<!-- 	<section class="section-divider textdivider divider3" style="background:url('http://www.prepbootstrap.com/Content/images/shared/shield/bg/divider3.jpg');">
			<div class="container">
				<h1>DESIGN SOLVE PROBLEMS</h1>
				<hr>
				<p>From the purely practical to the richly philosophical, design is the solution to a host of challenges.</p>
			</div>
		</section> -->
		<!-- section -->
		
		
		
		<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider NYdivider" style="background:url('assets/TheCity.jpg');">
			<div class="container">
				<div class="row">
					<h1><b> JOIN OUR LAUNCH PARTY! </b></h1>
					<hr>
				</div>
				<div class="row">
					<p><b>Sign-up below to be one of the first to try out Cashalyst as soon as we launch</b></p>
				</div>
				<div class="row">
						<%= form_for(Registrant.new, :html => {:class => "form-horizontal demoSignup"}) do |form| %>
							<div class="form-group">
						    	<div class="col-lg-10">
								  <%= form.text_field :name, :class => "form-control", :id => "text1", :placeholder => "Your name" %>
								</div>
							</div>
						 	<div class="form-group">
						    	<div class="col-lg-10">
								   <%= form.email_field :email, :class => "form-control", :id => "inputEmail1", :placeholder => "Email" %>
						 		</div>
							</div> 
						  <div class="form-group">
						    <div class="col-lg-10">
						  <%= form.submit('Sign Up', :class => "btn btn-success" ) %>
						  </div>
						  </div>
						<% end %>					
				</div>
			</div><!-- container -->
		</section><!-- section -->
		

		<!-- ==== SECTION CONTACT INFO ==== -->
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<!-- pass -->
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Newsletter Sign-ups</h3>
					<p>Sign-up below to be part of our newsletter which will go out after we launch</p>
					
						<%= form_for(Registrant.new, :html => {:class => "form-horizontal"}) do |form| %>
							<div class="form-group">
						    	<div class="col-lg-10">
								  <%= form.text_field :name, :class => "form-control", :id => "text1", :placeholder => "Your name" %>
								</div>
							</div>
						 	<div class="form-group">
						    	<div class="col-lg-10">
								   <%= form.email_field :email, :class => "form-control", :id => "inputEmail1", :placeholder => "Email" %>
						 		</div>
							</div> 
						  <div class="form-group">
						    <div class="col-lg-10">
						  <%= form.submit('Sign Me Up', :class => "btn btn-success" ) %>
						  </div>
						  </div>
						<% end %>										
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Follow us on Social Media </h3>
					<div class="row">
						<div class="col-lg-4">
							<a href = "https://www.facebook.com" ><span class="fa fa-facebook fa-2x" style="color:#3b5998; "></span> </a>
						</div>
						<div class="col-lg-4">
							<a href = "https://www.twitter.com" ><span class="fa fa-twitter fa-2x" style="color:#0084b4; "></span> </a>
						</div>
						<div class="col-lg-4">
							<a href = "https://www.linkedin.com" ><span class="fa fa-linkedin fa-2x" style="color:#007bb6; "></span> </a>
						</div>
					</div>
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->

		<div id="footerwrap">
			<div class="container">
				<h4>Created by The Cashalyst Team - Copyright 2014</h4>
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
		      	
	<script type="text/javascript" src="assets/retina.js"></script>
	<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="assets/smoothscroll.js"></script>
	<script type="text/javascript" src="assets/jquery-func.js"></script>